<div
  class="d-flex flex-column justify-content-around align-items-center"
  style="min-height: 100vh"
>
  <div class="text-center">
    <h1>MongoDB Exercises - Array</h1>
    <h2>Alphabet Guessing Game v1.0</h2>
  </div>

  <a class="btn btn-lg btn-primary" href="/step1">Start</a>
</div>
